/* ######################################### Payment Section ############################################## */

.payment-wrapper {
  margin-top: 150px;
  /* border: solid yellow; */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

@media (max-width: 1023px) {
  .payment-wrapper {
    justify-content: center;
  }
}

.payment-left-column {
  /* border: solid red; */
  width: 45%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  .payment-left-column {
    display: none;
  }
}

.payment-left-column-top {
  /* border: solid green; */
}

.subscribe-price-img {
  /* border: solid yellowgreen; */
  width: 80%;
}

.subscribe-employee-img {
  /* border: solid yellowgreen; */
  width: 80%;
}

.payment-left-column-bottom {
  /* border: solid yellowgreen; */
  font-family: "beausite classic clear", arial, sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.terms-image {
  margin-right: 50px;
  width: 150px;
}

.terms-link {
  margin-right: 15px;
  text-decoration: none;
  color: #c5c5c5;
}

.payment-right-column {
  /* border: solid red; */
  width: 45%;
  padding: 30px;
}

@media (max-width: 1023px) {
  .payment-right-column {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .payment-right-column {
    width: 100%;
  }
}

.google-pay-button {
  /* border: solid navy; */
  margin-top: 40px;
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 70px;
}

.gpay-image {
  width: 100px;
}

.gpay-link {
  width: 100%;
  text-align: center;
  padding: 15px 80px;
}

.payment-seprator {
  font-family: "beausite classic clear", arial, sans-serif;
  font-size: 20px;
  color: #c5c5c5;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  /* border-top: 1px solid #c5c5c5; */
  padding-top: 20px;
}

.payment-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  color: #200D3A;
  font-family: "beausite classic clear", arial, sans-serif;
  margin-bottom: 5px;
  margin-top: 20px;
}

.email-input {
  /* border: solid red; */
  border: none;
}

.email-input input {
  border: 1px solid #c5c5c5;
  border-radius: 7px;
  width: 100%;
  height: 55px;
  outline: none;
  padding: 7px;
  font-size: 20px;
  box-sizing: border-box;
}

.card-info-wrapper {
  /* border: solid yellow; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.card-number-input {
  /* border: solid green; */
  grid-column: 1/-1;
  grid-row: 1/2;
}

.card-number-input input {
  border: 1px solid #c5c5c5;
  border-radius: 7px 7px 0px 0px;
  width: 100%;
  height: 55px;
  outline: none;
  padding: 7px;
  font-size: 20px;
  box-sizing: border-box;
}

.card-date-input {
  /* border: solid brown; */
  grid-column: 1/2;
  grid-row: 2/2;
}

.card-date-input input {
  border: 1px solid #c5c5c5;
  border-top: none;
  border-radius: 0px 0px 0px 7px;
  width: 100%;
  height: 55px;
  outline: none;
  padding: 7px;
  font-size: 20px;
  box-sizing: border-box;
}

.cvc-input {
  /* border: solid pink; */
  grid-column: 2/2;
  grid-row: 2/2;
}

.cvc-input input {
  border: 1px solid #c5c5c5;
  border-top: none;
  border-radius: 0px 0px 7px 0px;
  width: 100%;
  height: 55px;
  outline: none;
  padding: 7px;
  font-size: 20px;
  box-sizing: border-box;
}

.name-on-card-input {
  /* border: solid red; */
  border: none;
}

.name-on-card-input input {
  border: 1px solid #c5c5c5;
  border-radius: 7px;
  width: 100%;
  height: 55px;
  outline: none;
  padding: 7px;
  font-size: 20px;
  box-sizing: border-box;
}

.dropdown-input {
  /* border: solid pink; */
  border: none;
}

.dropdown-input select {
  border: 1px solid #c5c5c5;
  border-radius: 7px 7px 0px 0px;
  width: 100%;
  height: 45px;
  outline: none;
  padding: 7px;
  font-size: 20px;
}

.dropdown-input select option {
  font-size: 20px;
}

.zip-input {
  /* border: solid red; */
  border: none;
}

.zip-input input {
  border: 1px solid #c5c5c5;
  border-radius: 0px 0px 7px 7px;
  width: 100%;
  height: 55px;
  outline: none;
  padding: 7px;
  font-size: 20px;
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type=text], input[type=email], input[type=password], textarea {
  -webkit-appearance: none;
} */

.subscribe-button {
  color: #ffffff;
  background-color: #683CFF;
  font-family: "beausite classic clear", arial, sans-serif;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  padding: 10px 40px;
  border: none;
  outline: none;
  font-size: 25px;
  margin-top: 50px;
}

.payment-text {
  font-family: "beausite classic clear", arial, sans-serif;
  color: #c5c5c5;
  font-size: 15.5px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* ######################################### Bottom Section ############################################## */

.bottom-bar {
  width: 100%;
  height: 15px;
  border: none;
  background-image: linear-gradient(to right, #6042FF, #B601FF);
}